# Ruby and tooling specific
.yardoc
coverage/
doc/
pkg/

/Gemfile.lock

#Python specific
venv

# IDE specific
.vscode/
.idea

# Misc
**/.DS_Store

# CPE XML
official-cpe-dictionary*.xml

# CPE Remap Errors
errors.txt
