language: ruby
sudo: false
cache: bundler
rvm:
  - '2.5.8'
  - '2.6.6'
  - 'jruby-9.1.9.0'
jdk:
  - openjdk8
matrix:
  allow_failures:
    - rvm: 'jruby-9.1.9.0'
before_install:
  - "echo 'gem: --no-ri --no-rdoc' > ~/.gemrc"
  - rake --version
before_script:
  - bundle exec rake --version
script: bundle exec rake tests
env:
  global:
    - CI="travis"
    - JRUBY_OPTS="--server -J-Xms512m -J-Xmx2G"
branches:
  only:
    - master
